/* Standaardstijl voor de pagina */
.club-page {
    background-color: white;
    color: black;
  }
  
  /* Stijlen voor specifieke clubs */
  .club-page[data-club="BBC Croonen Lommel"] {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red , white);
    color: white;
    
  }
  
  .club-page[data-club="KBBC Union Leopoldsburg"] {
    background-color: #248f24;
    background-image: linear-gradient(to right, #248f24 , white);
    color: white;
  }
  
  .club-page[data-club="Hubo Limburg United"] {
    background-color: rgba(44, 93, 143, 1);
    background-image: linear-gradient(to right, rgba(44, 93, 143, 1) , black);
    color: orange;
  }
  
  .club-page[data-club="KBBC Miners Beringen"] {
    background-color: rgb(90, 87, 87);
    background-image: linear-gradient(to right, rgb(90, 87, 87) , red);
    color: white;
  }
  
  .club-page[data-club="Stevoort BBC"] {
    background-color: rgb(0, 128, 0);
    background-image: linear-gradient(to right, rgb(0, 128, 0) , white);
    color: white;
  }
  
  .club-page[data-club="BasKet Tongeren"] {
    background-color: blue;
    background-image: linear-gradient(to right, rgb(0, 0, 255) , white);
    color: white;
  }
  
  .club-page[data-club="Basket Zonhoven"] {
    background-color: rgb(0, 0, 255);
    background-image: linear-gradient(to right, rgb(0, 0, 255) , white);
    color: white;
  }
  
  .club-page[data-club="K. Vabco Mol BBC"] {
    background-color: rgb(70, 130, 180);
    background-image: linear-gradient(to right, rgb(70, 130, 180) , white);
    color: white;
  }
  
  .club-page[data-club="BBC Optima Tessenderlo"] {
    background-color: rgb(0, 0, 255);
    background-image: linear-gradient(to right, rgb(0, 0, 255) , white);
    color: white;
  }