.grid_reeks tr:nth-child(even),
.grid_reeks_beker tr:nth-child(even),
.grid_kalender_team tr:nth-child(even),
.grid_kalender_reeks tr:nth-child(even),
.grid_leden tr:nth-child(even),
.grid_kalender_club tr:nth-child(even) {
    background-color: #f2f2f2;
}

.myklassement,
.grid_kalender_team tr,
.grid_kalender_reeks tr,
.grid_kalender_club tr {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

#myklassement th, 
#myTable th {
    cursor: pointer;
    text-align: left;
    padding: 10px;
    font-size: 12px; /* 12px */

}
#myklassement td, 
#myTable td {
    text-align: left;
    padding: 5px;
    font-size: 12px; /* 12px */
}
.wedID-link {
    text-decoration: none;
    color: #000;
}

.grid_buttons button,
.grid_clubs_buttons button,
.grid_clubs_buttons_small button,
.grid_toggle_buttons button,
.grid_link_teams button,
.grid_link_teams_small button,
.button-teams a,
.club_link {
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
    color: #000;
    padding: 10px;
}
.grid_buttons button:hover,
.button-teams a:hover,
.club_link:hover,
.knop_klassement:hover,
.knop_klassement_beker:hover,
.knop_kalender:hover,
.knop_reeks:hover,
.knop_leden:hover,
.knop_club:hover {
    background-color: #555;
    color: #fff;
    text-decoration: none;
}

/* WEBSITE IN HEADER */
.grid_club_details a {
    text-decoration: none;
    color: #fff;
    transition-duration: 0.4s;
}
.grid_club_details a:hover {
    text-decoration: underline;
}
/* END WEBSITE IN HEADER */

/* TITLE IN SIDEBAR */
.grid_clubs_buttons a, .grid_clubs_buttons_small a {
    text-decoration: none;
    color: #000;
}

.grid_clubs_buttons_small, .grid_link_teams_small {
    text-align: center;
}
/* END TITLE IN SIDEBAR */

/* PREV - NEXT + DATE RANGE */
.btn-group {
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
}
.grid_kalender_club .btn-group #buttons, .grid_kalender_reeks .btn-group #buttons{
    margin-top: 10px;
    float: left;
    height: 50px;
    width: auto;
    text-align: center;
}
.grid_kalender_club .btn-group #dateRange, .grid_kalender_reeks .btn-group #dateRange {
    float: left;
    height: 50px;
    width: auto;
    text-align: center;
}
/* END PREV - NEXT + DATE RANGE */

