/* SET FONT SIZE  */
h1{font-size: 36px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:400;margin:10px 0;color:black}
h2{font-size: 30px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:400;margin:10px 0;color:black}
h3{font-size: 24px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:400;margin:10px 0;color:black}
h4{font-size: 20px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:400;margin:10px 0;color:black}
h5{font-size: 18px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:400;margin:10px 0;color:black}
h6{font-size: 16px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:400;margin:10px 0;color:black}
h7{font-size: 14px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:400;margin:10px 0}
h8{font-size: 12px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:400;margin:10px 0}
h9{font-size: 10px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:400;margin:10px 0;color:black}

/* SIDEBAR & TOGGLE_BUTTONS */
t1{font-size: 16px;}
t2{font-size: 14px;}
t3{font-size: 12px;}
t4{font-size: 10px;}

/* TEAM NAME HEADER */
t10{font-size: 60px; font-family:'Times New Roman', Times, serif;}

/* TABLE FONTS */
th{font-weight: bold;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;}
td{font-family:Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;}

/* FONT BANNER */
t8{font-family: 'FibaBalticNormal',Verdana,sans-serif; font-size: 14px;}

/* SMAL SCREENS */
@media (max-width: 768px) {
    /* SET FONT SIZE */
    h1{font-size: 30px;font-family: Verdana, Geneva, Tahoma, sans-serif;}
    h2{font-size: 24px;font-family: Verdana, Geneva, Tahoma, sans-serif;}
    h3{font-size: 20px;font-family: Verdana, Geneva, Tahoma, sans-serif;}
    h4{font-size: 18px;font-family: Verdana, Geneva, Tahoma, sans-serif;}
    h5{font-size: 16px;font-family: Verdana, Geneva, Tahoma, sans-serif;}
    h6{font-size: 14px;font-family: Verdana, Geneva, Tahoma, sans-serif;}
    h7{font-size: 12px;font-family: Verdana, Geneva, Tahoma, sans-serif;} /* SIDEBAR MENU - HEADER CLUBINFO */
    h8{font-size: 10px;font-family: Verdana, Geneva, Tahoma, sans-serif;} /* KLASSEMENT - KALENDER - DEZE WEEK - WEEK KALENDER */
    h9{font-size: 8px;font-family: Verdana, Geneva, Tahoma, sans-serif;}

    /* SIDEBAR & TOGGLE_BUTTONS */
    t1{font-size: 18px;}
    t2{font-size: 16px;}
    t3{font-size: 14px;}
    t4{font-size: 12px;}

    /* TEAM NAME HEADER */
    t10{font-size: 40px;}

}
