/* CREATE GRID */
.grid_club_details {grid-area: club_details;}
.grid_team_buttons_menu {grid-area: team_buttons_menu;}
.grid_team_buttons {grid-area: team_buttons;}
.grid_all_divs {grid-area: all_divs;}


/* GRID CONTAINER */ 
.grid_container {
    display: grid;
    grid-template-areas:
        'club_details club_details'
        'team_buttons all_divs';
    grid-template-columns: minmax(130px, 140px) 2fr;
    padding: 40px;
    gap: 10px;
    background-color: #f2f2f2;
    margin-right: 20px;
}

.grid_banner{
    background-color: #f2f2f2;
    text-align: left;
    display: flex;
    border-bottom: 1px solid #000;
    margin-top: 5px;
}

/* GRID ALL DIVS */
.grid_all_divs {
    width: auto;
}

/* SET BOX SHADOW & BORDER RADIUS - SET PADDING & MARGINS */
.grid_club_details {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 30px 50px;
    margin: 10px;    
}
.grid_team_buttons_menu {
    display: none;
}

.grid_menu_buttons,
.grid_reeks,
.grid_kalender_team,
.grid_kalender_reeks,
.grid_kalender_club,
.grid_leden,
.grid_bestuur,
.grid_sporthal,
.grid_footer {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 10px 20px;
    margin: 10px;
}
.grid_team_buttons {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 484px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.grid_kalender_team,
.grid_kalender_reeks,
.grid_kalender_club,
.grid_leden,
.grid_bestuur {
    overflow-x: auto;
}
.grid_leden {
    max-height: 400px;
    overflow-y: hidden;
}
.grid_sporthal {
    max-height: 400px;
}

/* SET BACKGROUND & TEXT COLORS */
/* WHITE */ 

.grid_menu_buttons,
.grid_team_buttons,
.grid_reeks,
.grid_kalender_team, 
.grid_kalender_reeks,
.grid_leden,
.grid_bestuur,
.grid_sporthal,
.grid_kalender_club {
    background-color: #fff;  
}
.bestuur_content {
    display: flex;
}
.grid_footer {
    background-color: #555;
    color: #fff;
}

/* SMAL SCHERM */
@media (max-width: 768px) {
    .grid_container {
        grid-template-areas:
            'club_details club_details'
            'team_buttons_menu team_buttons_menu'
            'team_buttons team_buttons'
            'all_divs all_divs';
    }
    .grid_team_buttons {
        display: none;
    }
    .grid_team_buttons_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff; 
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
        border-radius: 12px;
        padding: 10px 20px;
        margin: 10px;
    }
}