@media (min-width: 82.5em) {
    .socialbar {
        display: block;
    }
}
    
.socialbar {
    position: fixed;
    z-index: 99;
    right: 0px;
    top: 40%;
}
.socialbar_links {
    display: block;
    list-style-type: none;
    
}
.socialbar img {
    width: 30px;
    height: 30px;
    border: none;
}
.socialbar button {
    margin-right: 15px;
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.socialbar button:hover {
    background-color: #555;
}